*.py[cod]
.*
!.babelrc
!.circleci
!.codeclimate.yml
!.coveragerc
!.dockerignore
!.eslintrc.json
!.flowconfig
!.gqlconfig
!.github
!.gitignore
!.nvmrc
!.npmrc
!.plop
!.prettierignore
!.prettierrc
!.pylintrc
!.travis*
!.testcafe
!.tx
*.css
*.log
*.pyc
*.mo
local_settings.py
__pycache__/
build/
coverage/
dist/
*\.egg*
# data
/docs/_build/
/media/
/node_modules/
/static/
/saleor/static/assets/
webpack-bundle.json
/templates/templated_email/compiled/*
!/templates/templated_email/compiled/.gitkeep

# Exported results file
django-queries-results.html

.*
!.dockerignore
!.storybook
!.circle
!.eslintrc
!.gitignore
!.github
!.babelrc
!.plop
!.jest
!.linguirc
!.prettierrc
!.prettierignore
!.tx
dist
node_modules
src/locales/_build

cypress/videos
cypress/screenshots
cypress/fixtures/example.json

*.py[cod]
.*
!.babelrc
!.circleci
!.codeclimate.yml
!.coveragerc
!.dockerignore
!.eslintrc.json
!.flowconfig
!.github
!.gitignore
!.gqlconfig
!.npmrc
!.nvmrc
!.plop
!.pylintrc
!.testcafe
!.travis*
!.tx
*.css
*.log
*.pot
*.pyc
local_settings.py
__pycache__
build/
coverage/
dist/
*\.egg*
# data
/media/
/node_modules/
/static/

# Exported results file
django-queries-results.html
data
